Source: lliurex-up
Section: admin
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>=10),
               llxsrchelper, 
               zero-dev,
               dh-python,
               python3-all,
               python3-setuptools,
               python3-poinstaller,
	       pybuild-plugin-pyproject
Standards-Version: 4.1.2
Homepage: http://lliurex.net
X-Python-Version: >= 2.6

Package: python3-lliurexup
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, dpkgunlocker-cli, python3-dpkgunlocker, python3-psutil,python3-distutils-extra
Description: Python library for lliurex-up; pre-actions and postactions
 Library for lliurex-up


Package: lliurex-up-core
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-lliurexup (= ${binary:Version})
Description: Python library for lliurex-up; pre-actions and postactions
 Library for lliurex-up

Package: lliurex-up
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},${misc:Depends}, python3, lliurex-up-core (= ${binary:Version}), lliurex-up-cli (= ${binary:Version}), debconf-kde-helper,python3-screensaver-manager,qml-module-termwidget,python3-pyside2.qtqml, python3-pyside2.qtquick, python3-pyside2.qtgui, python3-pyside2.qtwidgets, python3-pyside2.qtquickwidgets, python3-pyside2.qtsvg
Recommends: lliurex-up-indicator
Description: Graphical interface to update system
 Interface to update system.

Package: lliurex-up-cli
Architecture: all
Depends: lliurex-up-core (= ${binary:Version}), python3, python3-clint
Description: Command line interface to update system
 CLI Interface to update system.

Package: lliurex-up-pool-tools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-minimal, python3-debian
Description: Needed tools to install on repository server
 This package build Changelog and other folders for lliurex-up work fine.

