[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Lliurex-Up
Name[en]=LliureX Upgrader
Name[es]=Actualizador de LliureX
Name[qcv]=Actualitzador de LliureX
Name[ca_ES]=Actualitzador de LliureX
Name[ca_ES.UTF-8@valencia]=Actualitzador de LliureX
Name[ca_ES@valencia]=Actualitzador de LliureX
Name[ca]=Actualitzador de LliureX
Comment=Program to update the system
Comment[en]=Program to update the system
Comment[es]=Programa para actualizar el sistema
Comment[qcv]=Programa per a actualitzar el sistema
Comment[ca_ES]=Programa per a actualitzar el sistema
Comment[ca]=Programa per a actualitzar el sistema
Comment[ca_ES.UTF-8@valencia]=Programa per a actualitzar el sistema
Comment[ca_ES@valencia]=Programa per a actualitzar el sistema
Exec=/usr/bin/lliurex-up-desktop-launcher.py
Terminal=false
Icon=lliurex-up
Type=Application
GenericName=Lliurex-Up
NoDisplay=false
Categories=LliureX-Administration;
